<section>
<div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">Angular</div>
    <div class="inputs">
      <label>EMAIL</label>
      <input type="email" placeholder="example@test.com" />
      <label>PASSWORD</label>
      <input type="password" placeholder="Min 6 charaters long" />
      <button type="submit">Registrate</button>
    </div>
 
  </div>
</section>

<h2>Responsive Table</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Correo</th>
            <th>Contraseña</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
        </tr>    
        <tbody>
    </table>
</div>
